.title {
  text-align: left;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.completed {
  margin-right: .5rem;
}

.task-card-footer {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}